.btn-info {
  position: absolute;
  left: 1rem;
  top: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  transition: transform 0.1s ease-out, opacity 0.1s;

  &:hover {
    transform: scale(1.15);
  }

  &:active {
    opacity: 0.5;
  }
}
