@import '../../scss/sizes.scss';

.board-row {
  margin-bottom: -1px;
  padding: 0;

  display: flex;
  justify-content: center;

  &.large {
    height: $size-l;
  }

  &.medium {
    height: $size-m;
  }

  &.small {
    height: $size-s;
  }
}
