@import '../../scss/palette.scss';

.settings__sound {
  display: flex;
  align-items: center;

  & div:last-child {
    margin-left: 20px;
    width: 100%;
  }
}

.ant-radio-button-wrapper.Autumn {
  background-color: $autumn-primary !important;
}

.ant-radio-button-wrapper.Winter {
  background-color: $winter-primary !important;
}

.ant-radio-button-wrapper.Spring {
  background-color: $spring-primary !important;
}

.btn-settings {
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  transition: transform 0.25s ease-out, opacity 0.1s;

  &:hover {
    transform: rotate(90deg);
  }

  &:active {
    transform: rotate(90deg);
    opacity: 0.7;
  }
}
