.square {
  width: 6rem;
  height: 6rem;
  border: 1px solid;
  border-bottom: transparent;
  font-size: 2rem;
  font-weight: bold;
  line-height: 34px;
  padding: 0;
  text-align: center;
  cursor: pointer;
}

.square.lg {
  width: 8rem;
  height: 8rem;
}

.square:nth-child(3) {
  border-right: transparent;
}

.square:first-child {
  border-left: transparent;
}

.square:nth-child(2) {
  border-left: transparent;
  border-right: transparent;
}

.square:focus {
  outline: none;
}

.game.Autumn .square {
  background-color: #e6d5b8;
  border-color: #f0a500;
}

.game.Winter .square {
  background-color: #f1f3f4;
  border-color: #79bac1;
}

.game.Spring .square {
  background-color: #edf492;
  border-color: #a8df65;
}
