@import '../palette.scss';
@import '../sizes.scss';

.square {
  width: $size-m;
  height: $size-m;
  border: 1px solid;
  border-bottom: transparent;
  font-size: 2rem;
  font-weight: bold;
  line-height: 34px;
  padding: 0;
  text-align: center;
  cursor: pointer;
  transition: font 0.5s ease;

  &.animate {
    font-size: 4rem;
  }

  &.large {
    width: $size-l;
    height: $size-l;
  }

  &.small {
    width: $size-s;
    height: $size-s;
  }

  &:nth-child(3) {
    border-right: transparent;
  }

  &:first-child {
    border-left: transparent;
  }

  &:nth-child(2) {
    border-left: transparent;
    border-right: transparent;
  }

  &:focus {
    outline: none;
  }
}

.game.Autumn .square {
  background-color: $autumn-bright;
  border-color: $autumn-primary;
}

.game.Winter .square {
  background-color: $winter-bright;
  border-color: $winter-primary;
}

.game.Spring .square {
  background-color: $spring-bright;
  border-color: $spring-primary;
}

.game.Spring .square {}
