@import '../sizes.scss';

.board-row {
  margin-bottom: -1px;
  padding: 0;
  height: $size-m;

  display: flex;
  justify-content: center;

  &.large {
    height: $size-l;
  }

  &.small {
    height: $size-s;
  }
}
