body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
}

#root {
  display: flex;
  justify-content: center;
}

.game {
  margin: 1rem;
  width: fit-content;
  background-color: #f0a500;
  box-shadow: 0px 0px 12px 1px #4a3933;
}

.game-controls {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-controls button {
  margin-bottom: 1rem;
}

.game-history {
  padding: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #e45826;
}

.ant-slider {
  width: 200px;
}

.vintage {
  background-color: #e6d5b8;
}

.brown {
  background-color: #4a3933;
}
