body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
}

#root {
  display: flex;
  justify-content: center;
}

.game {
  margin: 1rem;
  padding: 1rem;
  width: fit-content;
}

.game-controls {
  display: flex;
  flex-direction: column;
  align-items: center;

  button {
    margin-bottom: 1rem;
  }
}

.game-history {
  margin: 1rem;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.ant-slider {
  width: 200px;
}

.vintage {
  background-color: #e6d5b8;
}

.brown {
  background-color: #4a3933;
}
