body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
}

body.dark {
  background-color: #202020;
}

#root {
  display: flex;
  justify-content: center;
}

.game {
  margin: 1rem;
  width: fit-content;
  border: 1px solid #fafafa;
}

.game-controls {
  padding: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-controls button {
  margin-bottom: 1rem;
}

.game-controls .settingsBtn {
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: 24px;
  cursor: pointer;
  transition: transform 0.25s ease-out, opacity 0.1s;
}

.game-controls .settingsBtn:hover {
  transform: rotate(90deg);
}

.game-controls .settingsBtn:active {
  transform: rotate(90deg);
  opacity: 0.7;
}

.game-history {
  padding: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.game.Autumn {
  background-color: #f0a500;
  box-shadow: 0px 0px 16px -4px #4a3933;
}

.game.Autumn .game-history {
  background-color: #e45826;
}

.game.Winter {
  background-color: #79bac1;
  box-shadow: 0px 0px 16px -4px #512b58;
}

.game.Winter .game-history {
  background-color: #2a7886;
}

.game.Spring {
  background-color: #a3de83;
  box-shadow: 0px 0px 16px -4px #ff5d6e;
}

.game.Spring .game-history {
  background-color: #2eb872;
}
