$autumn-primary: #f0a500;
$autumn-secondary: #e45826;
$autumn-bright: #e6d5b8;
$autumn-select: #4a3933;

$winter-primary: #79bac1;
$winter-secondary: #2a7886;
$winter-bright: #f1f3f4;
$winter-select: #512b58;

$spring-primary: #a3de83;
$spring-secondary: #2eb872;
$spring-bright: #feffea;
$spring-select: #ff5d6e;
